<html>
	<head>
		<title><%= title %></title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			

			<a href="/" class="nav">Home</a> | 
			<a href="/countries/add" class="nav">Add New Country</a> | 
			<a href="/countries" class="nav">All Countries</a>

		</div>	
		<h1>Node Countries Light Application</h1>




