body 
{
margin: 20px; 
padding: 20px; 
font-size: 90%; 
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*  general design for link */
a {
  color: red;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
/*  text-transform: lowercase;*/
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}
/* nav in header*/
a.nav {
  color: red;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
/*  text-transform: lowercase;*/
}

a.nav :hover {
  text-decoration: underline;
  color: red;
}

a.nav :active {
  color: red;
}

a.nav :visited {
  color: red;
}

#countries {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#countries td, #countries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#countries tr:nth-child(even){background-color: #f2f2f2;}

#countries tr:hover {background-color: #ddd;}

#countries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7d7d7d;
    color: white;
}